.castList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 40px;
  margin: 100px;
  list-style: none;
}

.castItem {
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px 2px;
}
